<%= form_with model: next_action do |f| %>
  <div class="mb-2">
    <%= f.label :name, class: "block mb-1" %>
    <%= f.text_field :name, class: "w-full" %>
  </div>

  <%= f.submit class: "border border-black px-2 py-1 capitalize" %>
<% end %>
