<div class="flex max-w-6xl">
  <div class="xl:w-[15%]"></div>

  <div class="px-4 mt-16 flex-grow">
    <div class="flex justify-between mb-8">
      <h1 class="flex-grow font-bold">
        New Next Action
      </h1>
    </div>

    <%= render "form", next_action: @next_action %>
  </div>
</div>
