<div class="flex justify-between mb-8">
  <h1>Inbox</h1>

  <%= link_to "Add items to inbox", new_inbox_item_path, class: "text-blue-500 underline" %>
</div>

<% if @inbox_items.empty? %>
  <p>Your inbox is empty!</p>
<% else %>
  <div class="mb-4">
    <%= render @inbox_items.first %>
  </div>

  <% if @inbox_items.count > 2 %>
    <p>
      <%= pluralize(@inbox_items.count - 1, "other item") %> in your inbox, process
      this one to see the next one.
    </p>
  <% else %>
    No other items in your inbox.
  <% end %>
<% end %>
