<h1 class="mb-8">Add to inbox</h1>

<div class="mb-4">
  <%= form_with model: @inbox_item do |f| %>
    <div class="mb-2">
      <%= f.rich_text_area :content, autofocus: true, placeholder: "Type here to add to your inbox..." %>
    </div>

    <%= f.submit "Add to Inbox", class: "border border-black px-2 py-1" %>
  <% end %>
</div>
